@import "tailwindcss";
@import "@fontsource/island-moments";
@import "@fontsource/halant";
@import "@fontsource/instrument-sans";


body {
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}

.island-moments {
  font-family: 'Island Moments', cursive;
}
.halant {
  font-family: 'Halant', serif;
}
.instrument-sans {
  font-family: 'Instrument Sans', sans-serif;
}